@import './overrides';
@import '../node_modules/bootstrap/scss/bootstrap';

@import './shadows';
@import './navbar';
@import './footer';
@import './hero';
@import './breadcrumbs';
@import './header';
@import './section';

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden auto;
    background-color: white;
}

a {
    text-decoration: none;
    color: $primary;
}

a:hover {
    color: $primary;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/*
 * @note: back-to-top styling
 */
 .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 900;
    background: $dark;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    block-size: 2rem;
    transition: all 0.4s;

    &:hover {
        background: $secondary;
        color: #fff;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }

    i {
        font-size: 0.75rem;
        color: $gray-100;
        line-height: 0;
    }
}


