{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load i18n static %}
{% block content %}
<!-- start blog post section -->
        <section class="blogs">
            <div class="container">
                <div class="row">

                    <!--  start blog left-->
                    <div class="col-lg-9 col-md-12 padding-30px-right xs-padding-15px-right sm-margin-30px-bottom">
                        <div class="posts">
                            <!--  start post-->
                            <div class="post">
                                <div class="post-img">
                                    <a href="javascript:void(0);" class="width-100">
                                        <img src="{{article.image.url}}" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="post-meta">
                                        <div class="post-title">
                                            <h5>{{ article.title}}</h5>
                                        </div>
                                        <ul class="meta">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="fa fa-user" aria-hidden="true"></i> {{article.author}}
                                                </a>
                                            </li>                                            
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="fas fa-calendar-alt" aria-hidden="true"></i> {{article.date_published}}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> {{article.views}}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="fa fa-clock" aria-hidden="true"></i> {{article.read_time}} Mins
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="post-cont">
                                        {{article.body|safe}}
                                    </div>
                                    <div class="share-post">
                                        <ul class="social-icon">
									<li>SHARE: </li>
                                    <li>
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"  target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
									<li>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
									<li>
                                        <a href="http://twitter.com/share?text={{ article.title }}. &url={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{ article.title }}" target="_blank">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    </li>
								</ul>
                                    </div>
                                    <ul class="tags">
                                    {% for tag in article.tags.all %}
                                    <li><a href="{% url 'blog:tag_articles' tag_name=tag.name %}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </div>
                            <!--  start post-->

                            <!--  start comment-->
                             {% comment %} <div class="comments-area">
                                <div class="title-g mb-50">
                                    <h3>Comments</h3>
                                </div>
                            </div> {% endcomment %}
                            <!-- end comment-->

                            <!--  start form-->
                            <div class="comment-form">
                                <div class="title-g mb-50">
                                    <h3>POST COMMENT</h3>
                                </div>
                                <div class="row">

                                    <div class="col-lg-2 col-md-0"></div>

                                    <div class="col-lg-8 col-md-12">
                                        <div class="comment-form">
                                            <form method="post" action="{% url 'blog:comment_create' article.slug %}">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        {{ comment_form.name }}
                                                    </div><!-- col-sm-6 -->
                                                    <div class="col-sm-6">
                                                        {{ comment_form.email }}
                                                    </div><!-- col-sm-6 -->

                                                    <div class="col-sm-12">
                                                        {{ comment_form.comment }}
                                                    </div><!-- col-sm-12 -->
                                                    <div class="col-sm-12">
                                                        <button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
                                                    </div><!-- col-sm-12 -->

                                                </div><!-- row -->
                                            </form>
                                        </div><!-- comment-form -->


                                        <a class="more-comment-btn" href="{% url 'blog:article_comments' article.slug %}">
                                            <b>SEE COMMENTS ({{ article.comments.count }})</b></a>

                                    </div><!-- col-lg-8 col-md-12 -->


                                </div><!-- row -->
                            </div>
                            <!--  end form-->
                        </div>
                    </div>
                    <!--  end blog left-->

                    <!--  start blog right-->
                    <div class="col-lg-3 col-md-12">
                        <div class="side-bar">
                            <div class="widget">
                                <div class="widget-title">
                                    <h6>Related Posts</h6>
                                </div>
                                <ul>
                                    {% for p in related_articles %}
                                    <li><a href="javascript:void(0);">{{p.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% placeholder "sidebar_content" %}

                        </div>
                    </div>
                    <!--  end blog right-->

                </div>
            </div>
        </section>
        <!-- end blog post section -->
   {% endblock content %}