<div class="blog-grid">
    <div class="blog-grid-img position-relative"><img alt="img" src="{{instance.article.image.url}}">
    </div>
    <div class="blog-grid-text padding-25px-all sm-padding-20px-all border border-color-medium-gray">
        <h4><a href="{% url 'blog:article_detail' slug=instance.article.slug %}">{{instance.article.title}}</a></h4>
        <p>{{instance.article.body|safe|slice:":200"}}</p>
        <div class="meta border-top border-color-medium-gray padding-15px-top xs-padding-10px-top">
            <ul class="no-margin">
                <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt "></i> {{instance.article.date_published}}</a></li>
                <li><a href="javascript:void(0)"><i class="fas fa-user"></i> {{instance.article.author}}</a></li>
            </ul>
        </div>
    </div>
</div>
