{% load cms_tags menu_tags sekizai_tags %}
{% load i18n static %}
 <div class="col-6 col-lg-4 col-md-6">
    <div class="team-style">
        <div class="team-pic">
            <img src="{{instance.feature_image.url}}" alt="">
        </div>
        <div class="team-info padding-25px-tb md-padding-15px-tb padding-5px-lr">
            <div class="team-name font-size16 xs-font-size14">{{instance.name}}</div>
            <a href="{% url 'core:tool_detail' slug=instance.tool.slug %}" class="butn">Explore Tool</a>
        </div>
    </div>
</div>