# deployment environment config
ENV=development

# smtp env config
SMTP_HOST=localhost
SMTP_PORT=465
SMTP_PASSWORD=****
SMTP_USERNAME=info
SMTP_AUTH=                  # options are: tls (mostly served at port 587) and ssl (mostly served at port 465) eg. SMTP_AUTH=ssl

# mailing env config
EMAIL_ADDRESS=info@geo-ldn.org
EMAIL_SUBJECT_PREFIX="[Geo Land Degradation Neutrality Flagship (GEO-LDN)]"

# postgresql env config
DATABASE_URL=               # e.g. postgres://postgres:password@127.0.0.1:5432

# redis env config
REDIS_URL=                  # e.g. redis://localhost:6379

# app url config
BASE_URL=                   # https://geo-ldn.org

# secret key config
SECRET_KEY=82b2368400692c4c7ecda8ae5be03fd6

# google maps api key config
GAPI_MAPS_KEY=              # see: https://developers.google.com/maps/documentation/javascript/get-api-key for how to create a google API key (e.g. AIzaSyDU9B1L-zT1gBhxkEPZ-OfkAupeJEdcZKs)

# cloudflare api config
CLOUDFLARE_EMAIL_ADDRESS=
CLOUDFLARE_API_KEY=         # see: https://developers.cloudflare.com/api/get-started/keys/#view-your-api-key for how to generate an API key
CLOUDFLARE_ZONE_ID=
