asgiref==3.4.1
Babel==2.9.1
Django==3.2.7
django-classy-tags==2.0.0
django-cms==3.9.0
django-filer==2.0.2
django-formtools==2.3
django-js-asset==1.2.2
django-map-widgets==0.3.2
django-money==2.1
django-mptt==0.13.3
django-phonenumber-field==5.2.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-summernote==0.8.11.6
django-tinymce==3.3.0
django-treebeard==4.5.1
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
easy-thumbnails==2.7.1
html5lib==1.1
phonenumbers==8.12.33
Pillow==8.3.2
pkg_resources==0.0.0
psycopg2==2.8.6
py-moneyed==1.2
pytz==2021.1
six==1.16.0
sqlparse==0.4.2
Unidecode==1.1.2
webencodings==0.5.1
