{% load static %} {% load wagtailcore_tags wagtailimages_tags %}

<section id="about" class="about">
    <div class="container">
        <div class="row content">
            <div class="col-lg-6">
                {% for loop_cycle in page.about_section.all %}
                <div>
                    {% image loop_cycle.section_image original as img %}
                    <img src="{{ img.url }}" width="560" />

                    <p>{{ img.alt }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
                {% for loop_cycle in page.about_section.all %}
                    <h1 class="text-justify text-secondary font-bold">{{ loop_cycle.section_heading }}</h1>

                    <h4 class="text-light-emphasis mt-1">{{ loop_cycle.section_subheading }}</h4>

                    <span class="d-block mt-1 py-3 text-justify">
                        {{ loop_cycle.section_content }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
