{% load static %}
{% load wagtailcore_tags i18n %}
{% wagtail_site as current_site %}

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <a href="{{ current_site.root_url }}" class="logo me-auto">
            <img src="{% static 'zsk/logos/logo.png' %}" alt="GEO Land Degradation Neutrality Flagship (GEO-LDN)" class="img-fluid">
        </a>

        <div class="clearfix"></div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ current_site.root_url }}" class="active"><span><i class='bx bx-home me-1 fs-6'></i> Home</span></a></li>

                <li class="dropdown">
                    <a href="#"><span><i class='bx bx-group me-1 fs-6'></i>  About Us</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ current_site.root_url }}">Governance</a></li>

                        <li><a href="{{ current_site.root_url }}">Working Groups</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#"><span><i class='bx bx-shape-polygon me-1 fs-6'></i> Resources & Tools</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ current_site.root_url }}">LDN Toolbox</a></li>

                        <li><a href="{{ current_site.root_url }}">Datasets</a></li>

                        <li><a href="{{ current_site.root_url }}">Guides & Background Information</a></li>

                        <li><a href="{{ current_site.root_url }}">Capacity Development</a></li>

                        <li><a href="{{ current_site.root_url }}">Archive</a></li>

                        {% comment %} <li><a href="testimonials.html">Testimonials</a></li> {% endcomment %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#"><span><i class='bx bx-info-square me-1 fs-6'></i> News & Events</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ current_site.root_url }}">News</a></li>

                        <li><a href="{{ current_site.root_url }}">Events</a></li>

                        <li><a href="{{ current_site.root_url }}">GEO-LDN Newsletter</a></li>

                        {% comment %} <li><a href="testimonials.html">Testimonials</a></li> {% endcomment %}
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#"><span><i class='bx bxs-comment-dots me-1 fs-6'></i> Get Involved</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{{ current_site.root_url }}">Global Network for ILUP</a></li>

                        <li class="dropdown">
                            <a href="#"><span>GEO-LDN Online Seminars</span> <i class="bi bi-chevron-right"></i></a>

                            <ul>
                                <li><a href="#">Online Seminar 1</a></li>

                                <li><a href="#">Online Seminar 2</a></li>

                                <li><a href="#">Online Seminar 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                {% comment %} <li><a href="{{ current_site.root_url }}">Contact us</a></li> {% endcomment %}

                <li>
                {% if request.user.is_authenticated %}
                    <a href="/admin/" class="getstarted">
                        Hello {{ request.user.username }}
                    </a>
                {% else %}
                    <a href="/admin/login/" class="getstarted">
                        Sign In
                    </a>
                {% endif %}
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->
