{% load cms_tags menu_tags sekizai_tags %}
{% comment %} {% language_chooser %} {% endcomment %}
{% load static %}{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Geo lDN" />
    <meta name="description" content="{% page_attribute 'meta_description' %}" />

    <!-- title  -->
    <title>GEO-LDN | {% page_attribute "page_title" %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/logos/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'assets/img/logos/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/logos/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/logos/apple-touch-icon-114x114.png' %}" />
    
    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}" />

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'assets/search/search.css' %}" />

    <!-- core style css -->
   
    {% render_block "css" %}
     <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />

</head>

<body>
{% cms_toolbar %}
    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style8">
        <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul>
                                    <li><i class="fas fa-mobile-alt"></i>{% static_placeholder "mobile" %}</li>
                                    <li><i class="fas fa-envelope"></i>{% static_placeholder "contact-email" %}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 xs-display-none">
                            
                            <ul class="top-social-icon">
                                
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com/share?text={{ article.title }}. &url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li>|</li>
                                <li>{% static_placeholder "contact-us-page" %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-default">
                <!-- start top search -->
                <div class="top-search bg-highlight-theme">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/" class="navbar-brand"><img id="logo" src="{% static 'assets/img/logos/logo.png' %}" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                       {% show_menu 0 100 100 100 %} 
                                       {% static_placeholder "Login" %}  
                                       
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-60px-right">
                                        <ul>
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->
        {% block content %}
        {% endblock %}
        <!-- start footer section -->
        <footer>
            {% static_placeholder "Footer" %}
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- modernizr js -->
    {% comment %} <script src="{% static 'assets/js/modernizr.js' %}"></script> {% endcomment %}

    <!-- bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Serch -->
    <script src="{% static 'assets/search/search.js' %}"></script>

    <!-- navigation -->
    <script src="{% static 'assets/js/nav-menu.js' %}"></script>

    <!-- tab -->
    <script src="{% static 'assets/js/easy.responsive.tabs.js' %}"></script>

    <!-- owl carousel -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

    <!-- jquery.counterup.min -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

    <!-- stellar js -->
    <script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>

    <!-- waypoints js -->
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>

    <!-- tab js -->
    <script src="{% static 'assets/js/tabs.min.js' %}"></script>

    <!-- countdown js -->
    {% comment %} <script src="{% static 'assets/js/countdown.js' %}"></script> {% endcomment %}

    <!-- jquery.magnific-popup js -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>

    <!-- map js -->
    <script src="{% static 'assets/js/map.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- contact form scripts -->
    <script src="{% static 'assets/js/mailform/jquery.form.min.js' %}"></script>
    <script src="{% static 'assets/js/mailform/jquery.rd-mailform.min.c.js' %}"></script>

    <!-- all js include end -->
{% render_block "js" %}
</body>

</html>